@model List<BlogYorumModel>
<!DOCTYPE html>
<html>
<head>
    <p>
    <a asp-action="Create">Yeni Yorum</a>
</p>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <p>
    <a asp-action="Create">Yeni Yorum</a>
</p>

<table > 
  <tr>
    <th> Kullanıcı Adı</th>
    <th>Mail</th>
    <th>Açıklama</th>
     <th>Başlık</th>
    <th>Yorum</th>
  </tr>


@*@foreach (var item in Model) {
  <dd>
   <div align="center"> <img src="@item.BlogImage" alt=""  width="550px"/></div>
    </dd>
}*@
    <thead>

<table class="table">
    
   @*
    <thead>
         <tr>
        <th>
            Kullanıcı Adı
        </th>
        <th>
            Mail
        </th>
        <th>
            Başlık
        </th>
        <th>
          Açıklama

        </th>
        <th>
            Yorum
        </th>
        </tr>

    </thead>
    <tbody>*@
  @foreach (var item in Model) {
  
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yorum)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
